body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* ---------- Barra de navegación ----------*/

header {
    border: 0;
    height: 152px;
    background-color: #ff3b3c;
}

.search {
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.search .social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search .social ul li {
    padding: 0 10px;
}

.search .form input {
    height: 62px;
    border-radius: 14px;
    border: none;
    width: 505px;
    padding: 20px;
    box-sizing: border-box;
}

.nav {
    padding: 10px 0;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* ---------- Main ----------*/

main {
    height: auto;
    padding: 50px;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
}

main .columns-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-images-block, 
.product-description-block, 
.product-checkout-block {
    margin: 0 10px;
    flex: 1;
}

.product-images-block {
    display: grid;
    grid-template-columns: 1fr 5fr;
    max-width: 100%;
    overflow: hidden;
}

.product-images-block .thumbnail-container {
    grid-column: 1;
    margin: 3px;
}

.product-images-block .thumbnail-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}

.product-images-block .main-image {
    width: 100%;
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}

.product-description-block .titulo {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    word-wrap: break-word;
}

.product-description-block .selector fieldset {
    border: 2px #919191 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-radius: 15px;
    font-size: 15px;
}

.product-description-block .selector fieldset select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.product-description-block .description p {
    color: #646464;
    font-size: 16px;
    font-weight: lighter;
    word-wrap: break-word;
    text-align: justify;
}

.checkout-container {
    background-color: #ebebeb;
    padding: 33px;
    border-radius: 2px;
}

.checkout-total-label {
    color: #ff3b3c;
}

.checkout-total-price {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.checkout-description {
    line-height: 20.4px;
    word-wrap: break-word;
}

.checkout-policy-list {
    list-style-type: none;
    margin-bottom: 30px;
}

.checkout-policy-list li {
    display: flex;
    margin: 15px 0;
}

.checkout-policy-list li .policy-icon {
    margin-right: 15px;
}

.checkout-process .top {
    display: flex;
    margin-bottom: 10px;
}

.checkout-process .top input {
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 62px;
    margin-right: 10px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
}

.btn-primary {
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
}

.btn-outline {
    width: 100%;
    border: 1px solid #ff3b3c;
    color: #ff3b3c;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
}

/* Parte de ofertas */

.sales-block {
    width: 100%;
    place-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.product-container a {
    text-decoration: none;
    color: initial;
}

.product-container h2 {
    grid-row: 1;
    grid-column: 1 / 4;
    justify-self: center;
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.product-card {
    background-color: #F0F0F0;
    border-radius: 14px;
    width: auto;
    overflow: hidden;
}

.product-info {
    padding: 20px;
    box-sizing: border-box;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    display: block;
    line-height: 22px;
}

.product-description {
    font-size: 16px;
    color: rgb(49, 49, 49);
    font-weight: normal;
    margin-bottom: 6px;
}

.product-tax-policy {
    font-size: 14px;
    font-weight: 300;
}

.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}

/* ---------- Footer ----------*/

footer {
    min-height: 368px;
    background-color: #7525A7;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.columns-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    /* padding: 0 20px; */
}
.columns-container .col ul {
    list-style-type: none;
    padding: 0;
}
.columns-container .col ul li {
    padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 20px;
}
.columns-container .col ul li a {
    color: white;
    text-decoration: none;
}
.copyright {
    border-top: 1px solid #ba53fb;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
    
    main {
        padding: 0px;
    }

    .search {
        padding: 20px 5px;
    }
    
    .search .form input {
        width: 100px;
    }

    .search .logo img {
        width: 130px;
    }

    .nav {
        font-size: 14px;
    }

    main .container {
        width: 100%;
        margin: 0;
        font-size: 14px;
    }

    main .columns-container {
        padding:20px 0px;
        gap: 20px;
    }

    .product-images-block, 
    .product-description-block, 
    .product-checkout-block {
        flex: auto;
    }

    main .sales-block {
        margin-bottom: 20px;
    }

    main .product-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    main .product-container h2 {
            grid-column: auto;
            font-size: 30px;
    }

    footer .container {
        font-size: 11.5px;
        justify-content: space-between;
    }

    footer .columns-container {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)  {
    main {
        padding: 50px 5px;
    }
    
    .container {
        margin: 0;
        font-size: 14px;
    }

    .columns-container {
        padding: 0px 30px;
        gap: 20px;
    }

    .search .form input {
        width: 300px;
    }

    .product-images-block, 
    .product-description-block, 
    .product-checkout-block {
        flex: auto;
    }

    .title-container span:first-child {
        font-size: 35px;
    }
    
    .title-container span:last-child {
        font-size: 80px;
        line-height: 75px;
    }

    main .product-container {
        padding: 0 5px;
        gap: 10px;
    }

    main .product-container h2 {
        font-size: 35px;
    }

    main .product-img {
        height: auto;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    main .container {
        margin: 0;
        font-size: 14px;
    }

    main .checkout-container {
        padding: 20px;
    }

    footer .columns-container {
        padding: 0px 30px;
        gap: 10px;
    }
    
}